body {
    background-color:  #ddf5fd ;
    font-family: Trebuchet MS;
}

h1 {
    color: #000965;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #000965;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 10px;
    width: 5%;
}


/*Header stuff*/

ul { /*whole top bar*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #107397;
}

li a { /*link styling*/
    display: inline;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active { /*current tab (class="active")*/
    color: Black;
    background-color: #afe31c;
}

li a:hover { /*when hovering*/
    color: black;
    text-decoration: none;

}

li a:active { /*when holding click down*/
    background-color: #8bb616;
    color: white;
    text-decoration: none;
}

/*end of header stuff*/